body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

.menu {
    background-color: #2CA5A5;
    padding: 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    padding: 10px 15px;
}

.menu {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.tags  {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
}

.menu-icon {
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}

.main-news {
    flex: 4;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-news img {
    width: 100%;
    border-radius: 10px;
}

.main-news h2 {
    font-size: 22px;
    color: black;
}

.source {
    font-size: 14px;
    color: gray;
}

.side-news {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news-item {
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.news-item img {
    width: 80px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.news-content h4 {
    font-size: 16px;
    margin: 0;
    color: #333;
}

.news-content .source {
    font-size: 12px;
    color: gray;
}
.sub-news {
    display: flex;
    gap: 5px;
    margin-top: 15px;
}

.news-item1, .news-item2, .news-item3 {
    flex: 2;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.news-item1 img, .news-item2 img, .news-item3 img {
    width: 100%;
    border-radius: 5px;
    height: 120px;
    object-fit: cover;
}

.news-content1 h4, .news-content2 h4, .news-content3 h4 {
    font-size: 14px;
    margin: 10px 0 5px;
    color: #333;
}

.news-content1 .source, .news-content2 .source, .news-content3 .source {
    font-size: 12px;
    color: gray;
}
.news-item, .news-item1,.news-item2,.news-item3,.main-news :hover { 
    color: #2CA5A5; 
    transform: scale(1.05); 
}
a {
    text-decoration: none; 
    color: black;
    
}

a:hover {
    text-decoration: none; 
    color: #2CA5A5;
}

